# Vector Database (Solves the storage limit error)
pune_vector_db/

# Environment Variables (Critical for security)
.env

# Python cache files
__pycache__/
*.pyc

# Virtual environment folder (Good practice to always include)
venv/